= link_to 'People', people_path, class: 'btn'
br
= link_to 'Contact Informations', contact_informations_path, class: 'btn'
br
= link_to 'Clients', clients_path, class: 'btn'
br
= link_to 'Cars', cars_path, class: 'btn'
br
= link_to 'Modifications', modifications_path, class: 'btn'
br
= link_to 'Status', statuses_path, class: 'btn'
br
= link_to 'Suppliers', suppliers_path, class: 'btn'
br
= link_to 'Buyers', buyers_path, class: 'btn'
br
= link_to 'Payment methods', payment_methods_path, class: 'btn'
br
= link_to 'Positions', positions_path, class: 'btn'
br
= link_to 'Employees', employees_path, class: 'btn'