= link_to 'People', people_path, class: 'btn'
br
= link_to 'Contact Informations', contact_informations_path, class: 'btn'
br
= link_to 'Clients', clients_path, class: 'btn'
br
= link_to 'Cars', cars_path, class: 'btn'
br
= link_to 'Status', statuses_path, class: 'btn'